# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
.env

# Virtual environment
venv/
.venv/

# Django
*.log
*.pot
*.pyc
*.mo
*.pyo
__pycache__/
local_settings.py

# Environment variables
.env
.venv
env/
ENV/
env.bak/
ENV.bak/

# Database
db.sqlite3
*.sqlite3

# VS Code
.vscode/

# .env file
.env


cookies.txt
